.ractive-tab-box {
  margin: 0.5em;
}

.ractive-tab-box > .rtb-tabs > .rtb-tab {
  display: inline-block;
  padding: 0.2em 0.5em;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  height: 2em;
}

.ractive-tab-box > .rtb-tabs > .rtb-tab > div {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ractive-tab-box > .rtb-tabs > .rtb-tab:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 2px;
  width: 100%;
  transition: background-color 0.5s ease-in-out;
  background-color: transparent;
}

.ractive-tab-box > .rtb-tabs > .rtb-tab.selected:after {
  background-color: #0078e7;
}

.ractive-tab-box > .rtb-tabs {
  position: relative;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.ractive-tab-box > .rtb-tabs::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0px;
  height: 2px;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
}

.ractive-tab-box > .rtb-contents {
  padding: 0.5em;
}

.rtb-tab > button {
  border: none;
  background: none;
  font-weight: 300;
  transition: box-shadow 0.5s ease;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: -5px;
}

.rtb-tab > button::after {
  content: 'x';
}

.rtb-tab:hover > button {
  box-shadow: 0px 0px 2px rgb(0, 131, 243);
}

.ractive-tab-box > .rtb-tabs.fill-width > .rtb-tab > div {
  max-width: calc(100% - 1.6em);
}

.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(1) {
  width: 100%;
}
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(2),
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(2) ~ .rtb-tab {
  width: 50%;
}
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(3),
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(3) ~ .rtb-tab {
  width: 33.3%;
}
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(4),
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(4) ~ .rtb-tab {
  width: 25%;
}
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(5),
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(5) ~ .rtb-tab {
  width: 20%;
}
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(6),
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(6) ~ .rtb-tab {
  width: 16.6%;
}
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(7),
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(7) ~ .rtb-tab {
  width: 14.28%;
}
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(8),
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(8) ~ .rtb-tab {
  width: 12.5%;
}
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(9),
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(9) ~ .rtb-tab {
  width: 11.1%;
}
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(10),
.rtb-tabs.fill-width .rtb-tab:first-child:nth-last-child(10) ~ .rtb-tab {
  width: 10%;
}
